.element__complete-button {
    background-image: url('../../../images/confirm-icon.svg');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.element__complete-button:hover {
    cursor: pointer;
}