.todolist__add-button {
    background-image: url('../../../images/add-new-icon.svg');
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.todolist__add-button:hover {
    cursor: pointer;
}